<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs %>
  </head>
  <body role="document">
    <% include templates/nav.ejs %>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="wrapper wrapper-content">
                <div class="container">



                  <div id="wrapper">
                      <div id="page-wrapper" class="gray-bg">
                          <div class="wrapper wrapper-content">
                              <div class="row">
                                              <div class="col-md-6 col-md-offset-3 wrapper border-bottom white-bg page-heading">

                                                  <h2>YouKnow 的简介</h2>
                                                  <h3> YouKnow 创立于 2015 年 1 月，在这里查找、观看和分享原创视频的用户多达数十亿。YouKnow 为全球各地的人们构建了一个相互联系、交流和获得灵感的平台，并且还是原创内容作者和大小广告商进行传播和销售的平台。</h3>

                                                  <div class="hr-line-dashed"></div>

                                                  <h2>社区准则</h2>
                                                  <h3> 请仔细阅读我们的<a href="<?php echo base_url() . "pages/term_of_use"; ?>">准则</a>，以便加入 YouKnow 社区</h3>

                                                  <div class="hr-line-dashed"></div>

                                                  <h2>使用入门</h2>
                                                  <h3> 我们整理了一份<a href="#">分步指南</a>，以便帮助您开始使用 YouKnow</h3>

                                                  <div class="hr-line-dashed"></div>

                                                  <h2>VIP会员</h2>
                                                  <h3> <a href="#">VIP会员制度</a></h3>
                                                  <h3> <a href="#">付费内容服务条款</a></h3>
                                                  <h3> <a href="#">付费服务使用规则</a></h3>
                                                  <div class="hr-line-dashed"></div>


                                                  <h2>服务条款</h2>
                                                  <h3> <a href="#">服务条款</a></h3>
                                                  <h3> <a href="#">使用规则</a></h3>

                                                  <div class="hr-line-dashed"></div>

                                                  <h2>版权申明</h2>
                                                  <h3> <a href="#">版权申明</a></h3>

                                                  <div class="hr-line-dashed"></div>


                                                  <h2>联系方式</h2>
                                                  <h3><strong class="text-info"> Email: </strong>youknowav@gmail.com <h3>
                                                  
                                                  <div class="hr-line-dashed"></div>

                                                  

                                              </div>
                              </div>
                          </div>
                      </div>
                  </div>




                    

                </div>
            </div>
        </div>
    </div>
  </body>
  <% include templates/footer.ejs %>
  <script src="/js/index.js"></script>
</html>
