<!DOCTYPE html>
<html lang="en">
<head>
  <% include templates/head.ejs %>
</head>
<body role="document">
  <% include templates/nav.ejs %>

  <div id="wrapper">
    <% include templates/left_menu.ejs %>

    <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content">
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2><%=user.name%> 的账户信息</h2>
            <div class="hr-line-dashed"></div>

            <h3><strong class="text-info"> Email:</strong> <%=user.email%> </h3>
            <div class="hr-line-dashed"></div>

            <h3><strong class="text-info"> 创立时间:</strong> <%=user.created_date.toISOString().split('T')[0]%> </h3>
            <div class="hr-line-dashed"></div>

            <h3><strong class="text-info"> 积分:</strong> 即将到来。。。 </h3>
          </div>
        </div>

        <br/>

        <div class="row">
          <form id="form1" method = "post" action="#" runat="server" enctype="multipart/form-data">
          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>个人头像</h5>
              </div>
              
                <div class="ibox-content ">
                  <img id = "profileImage" alt="your image"  class="img-responsive" src="<%=user.profile_img%>">
                  <br/><input class="btn btn-warning btn-block" type='file' id="imgInp" name="imgInp" />
                  <!-- <br/><button class="btn btn-warning btn-block" disabled= "disabled" id="uploadImage" name="uploadImage">修改图片</button> -->
                </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="ibox float-e-margins" id="video-comment">
              <div class="ibox-title">
                <h5>我的简介</h5>
              </div>

              <!-- <form action="#" method="post"> -->
                <textarea id="personal_description" name="description" class="form-control input-lg" rows = "10">some description here... database don't have the column</textarea>
                <!-- <button id="update_description" class="btn btn-block btn-primary btn-success" disabled="disabled" name="update_description">
                  更新简介
                </button> -->
              <!-- </form> -->
            </div>
          </div>

          <button id="update_description" class="btn btn-block btn-primary btn-success" disabled="disabled" name="update_description">修改信息</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</body>

<% include templates/footer.ejs %>
<script src="/js/index.js"></script>
<script type="text/javascript">
  $("#coolcss").attr("disabled", "disabled");
</script>
</html>




