<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs %>
  </head>
  <body role="document">
    <% include templates/nav.ejs %>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="wrapper wrapper-content">
                <div class="container">



                  
                  <% include templates/videos.ejs %>

                  <%-paginator.render()%>

                    

                </div>
            </div>
        </div>
    </div>
  </body>
  <% include templates/footer.ejs %>
  <script src="/js/index.js"></script>
</html>
