<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs %>
  </head>
  <body role="document">
    <% include templates/nav.ejs %>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="wrapper wrapper-content">
                <div class="container">

                  

                  <% var videos = hot_videos %>
                  <% include templates/videos.ejs %>

                  <% video_type = "最新视频"%>
                  <% var videos = recent_videos %>
                  <% include templates/videos.ejs %>
                    

                </div>
            </div>
        </div>
    </div>
  </body>
  <% include templates/footer.ejs %>
  <script src="/js/index.js"></script>
</html>
