<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs %>
  </head>
  <body role="document">
    <% include templates/nav.ejs %>
    <div class="container theme-showcase" role="main">
    <!-- here start to different for each page -->
      <div class="page-header">
        <h1 class="text-danger">Section 1</h1>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <button class="btn btn-default" value="enable">what?</button>
            </span>
          </div>
          <br/>

          <div>
            <button type="button" class = "form-control btn btn-danger" value="asd">huh?</button>
          </div>
          <br/>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
