<!DOCTYPE html>
<html lang="en">
  <head>
    <% include templates/head.ejs %>
  </head>
  <body role="document">
    <% include templates/nav.ejs %>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">

            <div class="wrapper wrapper-content">
                <div class="container">



                  <!-- video and comment-->
                  <div class="row">
                      <div class="col-lg-8">
                          <div class="ibox float-e-margins">
                              <div class="ibox-content">

                                  <video id="MY_VIDEO_1" class="video-js vjs-default-skin center-block" controls
                                         preload="auto" width="640" height="360" poster="#"
                                         data-setup="{}">
                                      <source src="<?php echo $url;?>" type='video/mp4'>
                                  </video>

                              </div>
                          </div>
                      </div>

                      <div class="col-lg-4">

                          <div class="ibox float-e-margins">
                              <div class="ibox-content profile-content">
                                  <h2><strong><%= name %></strong></h2>

                                  <div class="row">
                                      <div class="col-xs-2 col-md-4">
                                          <img id="head-image" src="<?php echo $profile_image_url ?>" class="img-circle img-responsive" alt="" />
                                      </div>
                                      <div class="col-xs-10 col-md-8">

                                          <a href="<?php echo base_url(). 'pages/profile?username=' .$creator;?>"><?php echo $creator;?></a>
                                          <br/>
                                          <br/>

                                          <div class="mic-info">
                                              <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-play"></span>订阅(即将到来)</a>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="row m-t-md">
                                      <div class="col-md-4">
                                          <h5><strong><?php echo $views;?></strong>观看</h5>
                                      </div>
                                      <div class="col-md-8">
                                          <h5><strong>28</strong> 评价</h5>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="ibox float-e-margins">
                              <div class="ibox-content profile-content">
                                  <h4><i class="fa fa-clock-o"></i> 上传 <?php echo $create_date;?></h4>
                                  <p><?php echo $description;?></p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- submit comment -->
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="ibox float-e-margins" id="video-comment">
                              <div id="comment-area" class="ibox-title">
                                  <h5>随便写两句评论吧</h5>
                              </div>

                              <form action="#" method="post">
                                  <textarea name="content" class="form-control input-lg" rows = "10"></textarea>
                                  <button class="btn btn-block btn-primary btn-success" name="submit_comment">
                                      发表评论
                                  </button>
                              </form>

                          </div>
                      </div>
                  </div>

                  <!-- view comments  -->
                  <div class="row">
                      <div class="ibox float-e-margins" id="comment-all">
                          <div class="ibox-title">
                              <h5>所有评论</h5>
                          </div>

                      </div>

                      <div class="panel-body">
                          <ul class="list-group">
                              <?php
                              $comments = $this->comment->get_video_comment($video_id);

                              if(!empty($comments)) {
                                  foreach ($comments as $comment) {
                                      $content = $comment['content'];
                                      $create_date = $comment['create_date'];
                                      $user_name = $comment['user_name'];
                                      $profile_image = $comment['profile_image'];


                                      echo '
                                          <li class="list-group-item">
                                              <div class="row">
                                                  <div class="col-xs-2 col-md-1">
                                                      <img style="height: 50px; width: 50px;" src="' . $profile_image . '" class="img-circle img-responsive" alt="" /></div>
                                                  <div class="col-xs-10 col-md-11">
                                                      <div>
                                                          <div class="mic-info">
                                                              <a href="#"><h3>' . $user_name . '</h3></a>
                                                          </div>
                                                      </div>
                                                      <div class="comment-text">
                                                          <h4>' . $content . '</h4>
                                                      </div>

                                                      <small style="color: #ADACAD;">' . $create_date . '</small>
                                                  </div>
                                              </div>
                                          </li>
                                      ';
                                  }
                              }
                              else{
                                  echo'
                                  <br/>
                                  <h3>无任何评论!</h3>
                              ';
                              }
                              ?>
                          </ul>
                          <a href="#comment-area" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> 发表评论</a>
                      </div>
                  </div>














                </div>
            </div>

        </div>
    </div>
  </body>

    <% include templates/footer.ejs %>
    <script src="/js/index.js"></script>

</html>
