

<!-- Mainly scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>


<link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.11/video.js"></script>

<script src="/js/plugins/dropzone/dropzone.js"></script>

<script src="/js/plugins/video/responsible-video.js"></script>

<!-- SUMMERNOTE -->
<script src="/js/plugins/summernote/summernote.min.js"></script>
<!-- my personal js -->
<script src="/js/myjs.js"></script>

<footer id="footer">
    <div class="container">
        <ul class="copyright">
            <li>&copy; YouKnow. All rights reserved.</li>
        </ul>
    </div>
</footer>