<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a href="/">
            <img src="/img/logo.jpg" height ="40" href="#">
        </a>
    </div>


    <% if(typeof username !== 'undefined'){ %>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav">
                    <button  class="btn btn-w-m btn-outline btn-danger" name="upload">上传</button>
                </form>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%-username%><b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                    <li>
                        <div class="form-group">
                            <a href="/user/personal"><button type="submit" class="btn btn-success btn-block">我的账户</button></a>
                        </div>
                    </li>
                    <li class="divider"></li>


                    <li>
                        <form class="form" role="form" method="post" action="/user/logout" accept-charset="UTF-8" id="login-nav">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block" name="logOut"><i class="fa fa-sign-out"></i>退出</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    <% } else { %>



        <ul class="nav navbar-nav navbar-top-links navbar-right">
            <li class="dropdown">
                <!-- <form class="form" role="form" method="post" action="#" accept-charset="UTF-8" id="login-nav">
                    <button type="submit" class="btn btn-w-m btn-outline btn-danger" name="upload" style="margin-top: 13px;">上传</button>
                </form> -->
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    FlipInY effect
                </button> -->

                <button type="button" class="btn btn-w-m btn-outline btn-danger" data-toggle="modal" data-target="#login" style="margin-top: 13px;">上传</button>

            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">注册<b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form" role="form" method="post" action="/user/sign_up" accept-charset="UTF-8" id="login-nav">
                                    <div class = "tooltip-demo">

                                        <div class="form-group">
                                            <input class="form-control" name="username" placeholder="用户名" type="text" data-toggle="tooltip" data-placement="left" title="请输入小于20个字符" required autofocus />
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" name="password" placeholder="密码" type="password" data-toggle="tooltip" data-placement="left" title="请输入6到20个字符" required />
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" name="confirm_p" placeholder="确认密码" type="password" data-toggle="tooltip" data-placement="left" title="请输入6到20个字符" required/>
                                        </div>

                                        <div class="form-group">
                                            <input class="form-control" name="email" placeholder="邮箱" type="email" required/>
                                        </div>

                                        <div class="form-group">
                                            <input type="radio" name="gender" value="male" checked> 男
                                            <input type="radio" name="gender" value="female"> 女

                                        </div>

                                        <div class="form-group">
                                            <input type="checkbox" id ="agree-checkbox">
                                            我同意以下
                                            <a class="text-navy" data-toggle="modal" data-target="#agreement" >条款</a>
                                            <a class="text-navy" data-toggle="modal" data-target="#privacy" >隐私</a>
                                        </div>

                                        <br />

                                        <div class="form-group">
                                            <button type="submit" id="sign-up-button" disabled class="btn btn-success btn-block" name="signUp">注册</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录<b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form" role="form" method="post" action="/user/login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="text" name="email" class="form-control" id="exampleInputEmail2" placeholder="用户名" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="密码" required>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block" name="signIn">登录</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>

                        <button data-toggle="modal" data-target="#forget_password" class="btn btn-primary btn-block" type="button">忘记密码</button>
                    </li>
                </ul>
            </li>
        </ul>
     <% } %>

    <div class="search-form">
        <form action="/video/search" id="navbar-search" method="get">
            <div class="input-group">
                <input type="text" name="keyword" class="form-control input-lg">
                <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" >
                        搜索
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>

<div class="row wrapper border-bottom white-bg page-heading" id="navbar-second-row">

    <div class="container-fluid ">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/">主页</a></li>
                <li><a href="/video/hot_video">当前最热</a></li>
                <li><a href="/video/recent_video">最近上传</a></li>
                <li><a href="#">名人榜</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>


        </div>
    </div>
</div>


<div class="modal inmodal" id="login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请先登录</h4>
                <small class="font-bold">您需要登录才能上传视频</small>
            </div>
            <div class="modal-body">
              <!-- <ul style="padding: 15px;min-width: 250px;">
                  <li> -->
                      <div class="row">
                          <div class="col-md-12">
                              <form class="form" role="form" method="post" action="/user/login" accept-charset="UTF-8" id="login-nav">
                                  <div class="form-group">
                                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                      <input type="text" name="email" class="form-control" id="exampleInputEmail2" placeholder="用户名" required>
                                  </div>
                                  <div class="form-group">
                                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                                      <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="密码" required>
                                  </div>

                                  <div class="form-group">
                                      <button type="submit" class="btn btn-success btn-block" name="signIn">登录</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  <!-- </li>
                  <li> -->
                      <!-- <button data-toggle="modal" data-target="#forget_password" class="btn btn-primary btn-block" type="button">忘记密码</button> -->
                  <!-- </li>
              </ul> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="forget_password" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请输入你的邮箱</h4>
                <small class="font-bold">用你的邮箱找回密码</small>
            </div>
            <div class="modal-body">
              <!-- <ul style="padding: 15px;min-width: 250px;">
                  <li> -->
                      <div class="row">
                          <div class="col-md-12">
                              <form class="form" role="form" method="post" action="/user/forget_password" accept-charset="UTF-8" id="login-nav">
                                  <div class="form-group">
                                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                      <input type="text" name="email" class="form-control" id="exampleInputEmail2" placeholder="邮箱" required>
                                  </div>
                                  <div class="form-group">
                                      <button type="submit" class="btn btn-success btn-block" name="signIn">确认</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  <!-- </li>
              </ul> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="agreement" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">条款</h4>
            </div>
            <div class="modal-body">
              
            <% include terms_and_conditions.ejs %>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="privacy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">隐私</h4>
            </div>
            <div class="modal-body">
                <% include privacy.ejs %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

